@use "./base.scss";

// put your custom CSS here!
// 针对文章正文(article)里的段落(p)开启缩进
article p {
  text-indent: 2em; /* 2em 表示缩进两个字符的宽度 */
}

// 排除列表、引用块里的段落，防止排版乱掉
article li p, 
article blockquote p {
  text-indent: 0;
}