@use "./base.scss";

// put your custom CSS here!
/* 定义一个叫 "chinese-indent" 的开关 */
.chinese-indent article p {
  text-indent: 2em;
  text-align: justify; /* 顺便加个两端对齐，排版更整齐 */
}

/* 排除列表和引用块，防止乱掉 */
.chinese-indent article li p,
.chinese-indent article blockquote p {
  text-indent: 0;
}

// 排除列表、引用块里的段落，防止排版乱掉
article li p, 
article blockquote p {
  text-indent: 0;
}